<form #kittenForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="kitten-name">Kitten name</label>
    <input
      id="kitten-name"
      name="kittenName"
      type="text"
      [(ngModel)]="kitten.name"
    />
  </fieldset>

  <fieldset>
    <label for="race">Kitten race</label>
    <input id="race" name="kittenRace" type="text" [(ngModel)]="kitten.race" />
  </fieldset>

  <fieldset>
    <label for="birth">Birth date</label>
    <input
      id="birth"
      name="kittenBirthDate"
      type="birth"
      [(ngModel)]="kitten.birth"
    />
  </fieldset>

  <fieldset>
    <label for="pictureUrl">Picture</label>
    <input
      id="pictureUrl"
      name="kittenPicture"
      type="text"
      [(ngModel)]="kitten.pictureUrl"
    />
  </fieldset>

  <button type="submit">Envoyer</button>
</form>
