<form #kittenForm="ngForm">
  <fieldset>
    <label for="kitten-name">Kitten name</label>
    <input id="kitten-name" name="kitten-name" type="text" required />
  </fieldset>

  <fieldset>
    <label for="race">Kitten race</label>
    <input id="race" name="race" type="text" required />
  </fieldset>

  <fieldset>
    <label for="birth">Birth date</label>
    <input id="birth" name="birth" type="birth" required />
  </fieldset>

  <fieldset>
    <label for="pictureUrl">Photo</label>
    <input id="pictureUrl" name="pictureUrl" type="text" required />
  </fieldset>

  <button type="submit">Envoyer</button>
</form>
